<app-navbar></app-navbar>
<div class="container">
    <h1>{{user}}</h1>
    <div class="posts">
        <div 
            class="post" 
            *ngFor="let video of videos" 
            [routerLink]="['/t/post/', video._id]">
            <iframe width="300" height="190" [src]="video.link"></iframe>
            <p class="date">{{video.createdAt.substring(0, video.createdAt.indexOf("T"))}}</p> 
            <p class="time">{{video.createdAt.substring(video.createdAt.indexOf("T")+1, 16)}}</p>
        </div>
    </div>
</div>
