@import '../../../styles.scss';
.container {
    width: 70%;
    margin: 0 auto;
}

.posts {
    display: flex;
    flex-direction: column-reverse;
    background-color: $main-color;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.post { 
    color: #fff;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    grid-template-areas: 
        "video date time";
    iframe {
        grid-area: video;
    }
    .date { 
        grid-area: date;
        text-align: right;
        margin-right: 50px
    }
    .time { 
        grid-area: time;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .container { width: 100%}
    .post { 
        iframe {
            max-width: 100px !important;
            height: 90px !important
        }
    }
}