<app-navbar></app-navbar>
<div class="container">
    <h1>Bio</h1>
    <div class="lang">
        <ul>
            <li>
                <a 
                    (click)="getEnglishBio()" 
                    [ngClass]="english ? 'active' : null">
                    English
                </a>
            </li>
            <li>
                <a 
                    (click)="getItalianBio()"
                    [ngClass]="italian ? 'active' : null">
                    Italian
                </a>
            </li>
        </ul>
    </div>
    <div class="bio">
        <p>{{displayedLang}}</p>
        <img src="assets/photo.jpg" alt=''>
        <h2>"Don't fight old habits, replace them with new ones.”<br/><span>-Arnold Jabobs</span></h2>
    </div>
</div>
