@import '../../../styles.scss';

.level {
    width: 90%;
    margin: 40px auto;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
    }
    a {
        display: inline-block;
        padding: 6px;
        color: #9A9CB5;
        text-align: center;
        letter-spacing: 0.02em;
        font-weight: 600;
        font-size: 18px;
        font-family: "Inter", sans-serif
    }
    a:hover, a:active, .active {
        color: $main-color;
        border-bottom: 2px solid $main-color;
        text-decoration: none;
    }
}
.lessons {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto
}
.lesson {
    background-color: $secondary-color;
    height: 150px;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    p {
        display: block;
        width: 400px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0.7;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        line-height: 150px;
        margin-left: 30px
    }
    h3 {
        font-weight: bold;
        font-family: $main-font;
        color: #fff;
        font-size: 24px;
        text-align: center;
        background-color: #F2BC71;
        height: 150px;
        width: 150px;
        border-radius: 10px;
        padding: 50px 5px 5px 5px
    }
}

@media screen and (max-width: 800px) {
    h3 {
        width: 80px;
        height: 80px
    }
    p {
        display: none !important
    }
    .lesson { width: 90%}
}