<div class="container">
    <div class="add-comment">
        <input 
            type="text" 
            name="Comment" 
            placeholder="Add a comment..." 
            [(ngModel)]="comment"
        >
        <button  type="submit" (click)="onSubmit()">Add Comment</button>
    </div>
    <hr>
    <div class="comment" *ngFor="let comment of commentsById">
        <p class="user"><strong>{{comment.user}}</strong></p>
        <p class="cmnt">{{comment.comment}}</p>
        <p class="date-time">{{comment.createdAt.substring(0, comment.createdAt.indexOf("T"))}} {{comment.createdAt.substring(comment.createdAt.indexOf("T")+1, 16)}}</p>
    </div>
</div>