<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav nav-bar mr-auto flex-row">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/t/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bio">Bio</a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto flex-row">
            <li class="nav-item">
                <a class="nav-link" href="/t/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/t/dashboard">Dashboard</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto flex-row">
            <li class="nav-item">
                <div class="notification-wrapper">
                    <a class="notification-btn nav-link" (click)="openNotification(!showNotification)">
                      <img src="assets/icons/bell.svg">{{num}}
                    </a>
                    <div 
                        *ngIf="showNotification" 
                        class="notification-content" 
                        (clickOutside)="openNotification(false)" 
                        [exclude]="'.notification-btn'">
                        <div class="notification-header">
                            <span class="label">Notifications</span>
                        </div>
                        <div class="notifications">
                            <div 
                                class="notification" 
                                *ngFor="let not of (notifications | async)"
                                (click)="delete(not.lessonId, not._id)">
                                {{not.user | titlecase}} {{not.action}} {{not.lessonTitle | titlecase}}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    {{name | titlecase}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>