<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="assets/icons/music-note.svg" width="40" height="40" alt="icon">
        </a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/t/students">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/t/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <p class="nav-link">Antonio F.</p>
            </li>
        </ul>
    </div>
</nav>