@import '../../../styles.scss';

label {
    font-family: $main-font;
    font-weight: 500;
}
input, textarea {
    border-radius: 10px !important;
}
.btn {
    background: #F2A154;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: $main-font;
    margin: 10px;
    width: 70%
}
p{
    position: fixed; 
    bottom: 0;
    left: 40%;
    font-family: $main-font;
    font-weight: 400;
    font-size: 14px;
    a {
        font-weight: 600;
        color: $main-color
    }
    a:hover {
        text-decoration: underline !important;
    }
}