.videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
iframe { 
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .videos { 
        display: column;
        margin: 0 auto
    }
}