@import '../../../styles.scss';

.post {
    width: 80%;
    margin: 30px auto;
    background-color: $secondary-color;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: 9fr 1fr;
    iframe {
        border: none;
    }
    .dt {
        text-align: right;
        font-family: $main-font;
        font-weight: bold;
        color: $main-color
    }
}
@media screen and (max-width: 800px) {
    .post { 
        width: 100%;
        grid-template-columns: 2fr 1fr;
        iframe {
            max-width: 180px !important;
            height: 90px !important
        }
    }
}