<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="first-row">
        <img class="first" src="assets/sketch.jpg" alt="man playing trumpet">
        <h2>"Don't fight old habits, replace them with new ones.”<br/><span>-Arnold Jabobs</span></h2>
    </div>
    <div class="row">
        <div class="second-row">
            <div class="layer">
                <h1>EDU</h1>
                <p>Modern and Baroque trumpet.</p>
                <ul>
                    <li>Basics</li>
                    <li>Warmups</li>
                    <li>Technical Studies</li>
                    <li>Exercises</li>
                    <li>"Clinics"</li>
                </ul>
                <div class="text-center">
                    <button class="btn" (click)="navigate()">GET STARTED</button>
                </div>
            </div>
        </div>
    </div>
</div>
