<app-navbar></app-navbar>
<div class="container">
    <div class="home">
        <img class="first" src="assets/sketch.jpg" alt="man playing trumpet">
        <div class="txt">
            <h2>"Don't fight old habits, replace them with new ones.”<br/><span>-Arnold Jabobs</span></h2>
        </div>
        <div class="txt">
            <h1>Education</h1>
            <p>Modern and Baroque trumpet.</p>
            <div class="text-center">
                <button class="btn" (click)="navigate()">GET STARTED</button>
            </div>
        </div>
        <img class="second" src="assets/class.jpg" alt="music teacher with students in a class">
    </div>
</div>
