<app-navbar></app-navbar>
<div class="container home">
    <img class="first" src="assets/sketch.jpg" alt="man playing trumpet">
    <div class="txt">
        <h1>About</h1>
        <p>Curabitur justo sapien, semper fermentum feugiat ac, pharetra ut metus. Ut semper id lorem sit amet vehicula. 
            Sed aliquam erat eu augue cursus, quis laoreet magna vestibulum. Nunc ipsum massa, malesuada sit amet elit mattis,
            iaculis commodo risus. Nulla fringilla auctor finibus. Vivamus vel quam eget tortor egestas mollis. Nulla fermentum vitae 
            urna quis lobortis. Cras euismod pharetra massa, sit amet hendrerit lacus porta quis.
            
            Phasellus sed lectus nec arcu sodales sodales. Suspendisse potenti. Donec non aliquet urna. Etiam pulvinar lectus et
            urna porta tempus. Maecenas quis velit non lectus vehicula viverra in id augue. Interdum et malesuada fames ac ante
            ipsum primis in faucibus. In cursus pellentesque accumsan. 
            
            Mauris ac mauris ultrices, porta sem eget, elementum lacus. Nam eleifend ante ac est dapibus, a suscipit justo malesuada. 
            Curabitur in semper enim. Donec malesuada mollis ultricies.
            
            Pellentesque sagittis ut nisi non hendrerit. Proin gravida ex eget scelerisque consequat. Pellentesque eget urna vitae 
            tellus dignissim fermentum. Etiam bibendum rutrum rhoncus. Sed ac nisl et ante viverra tincidunt vel in velit. Praesent 
            neque erat, ornare vitae nisl dapibus, porta maximus felis. Cras eget ultrices massa.
        </p>
    </div>
    <div class="txt">
        <h1>Lorem Ipsum</h1>
        <p>Morbi ante augue, tristique id ipsum eget, congue scelerisque leo. Fusce fermentum tempus 
            dolor. Maecenas in ante varius, tincidunt turpis vitae, efficitur dolor. Quisque lobortis erat at dui 
            condimentum accumsan at vitae dolor. Mauris porta, massa ut ullamcorper lobortis, nunc erat 
            vehicula odio, nec euismod turpis dui eget mi. Vestibulum sit amet nibh ut lacus pellentesque 
            aliquet vitae id nulla. Donec iaculis blandit sapien in volutpat. Proin a magna nibh. Fusce sodales 
            feugiat risus, quis malesuada lectus sollicitudin quis. Cras nec ipsum id nisl volutpat blandit. 
            Praesent dignissim libero eu elementum condimentum. Integer viverra commodo odio, a 
            dictum justo rutrum sit amet. Vestibulum vitae nisl id est dignissim tristique. Praesent 
            feugiat bibendum odio. Nullam consequat odio vitae convallis efficitur. Aenean a dolor elit.
        </p>
        <div class="text-center">
            <button class="btn" (click)="navigate()">GET STARTED</button>
        </div>
    </div>
    <img class="second" src="assets/class.jpg" alt="music teacher with students in a class">
</div>
