<app-navbar></app-navbar>
<div class="container">
    <h1>Registered Students</h1>
    <div id="confirmation"></div>
    <div class="students">
        <div class="student" *ngFor="let student of (students | async)">
            <img src="assets/user.svg" alt="user icon">
            <h2>{{student.username | titlecase}}</h2>
            <p class="name">{{student.fullname | titlecase}}</p>
            <p class="email">{{student.email}}</p>
            <button 
                class="btn btn-danger" 
                (click)="delete(student._id)">
                Delete
            </button>
            <button 
                class="btn btn-primary" 
                (click)="denyAccess(student._id, student.fullname)">
                Deny Access
            </button>
            <button 
                class="btn btn-dark" 
                (click)="allowAccess(student._id, student.fullname)">
                Allow Access
            </button>
        </div>
    </div>
</div>