@import '../../../styles.scss';

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 70%;
    margin: 40px auto;
}

.student {
    display: grid;
    grid-template-areas: 
        "img name";
    grid-template-columns: 1fr 3fr;
    background-color: $secondary-color;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    img {
        grid-area: img;
        width: 80px
    }
    h2 {
        grid-area: name;
        padding: 5px
    }
}

@media screen and (max-width: 800px) {
    .students {
        display:flex;
        flex-direction: column;
        width: 100%
    }
}