@import '../../../styles.scss';

.students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    margin: 40px auto;
}

.student {
    display: grid;
    grid-template-areas: 
        "img name name"
        "img btn1 btn2";
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $secondary-color;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    img {
        grid-area: img;
        width: 80px
    }
    h2 {
        grid-area: name;
        padding: 5px
    }
    .btn {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        margin: 5px
    }
    .btn-danger {grid-area: btn1;}
    .btn-dark {grid-area: btn2;}
}

@media screen and (max-width: 800px) {
    .students {
        display:flex;
        flex-direction: column;
    }
}