<app-navbar></app-navbar>
<div class="container">
    <h1>{{title | titlecase}}</h1>
    <p class="level">{{level}}</p>
    <div class="lesson-content">
        <p>{{content}}</p>
        <div class="btns">
            <a class="btn ex" (click)="pdfClicked()" href={{exerciseFile}} target="_blank">
                Fullscreen PDF
            </a>
        </div>
    </div>
    <div class="center">
        <embed height="300" [src]="urlSafe" type="application/pdf">
    </div>
    <app-comments></app-comments>
</div>
