@import '../../../styles.scss';

nav { 
    background-color: $main-color;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    background-color: $secondary-color;
    border-radius: 50%;
    height: 40px
}

li a {
    text-decoration: none;
    color: $secondary-color;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px
}