<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <ul class="nav nav-bar mr-auto flex-row">
            <li class="nav-item">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/s/media">Media</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bio">Bio</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto flex-row">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/s/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    {{name | titlecase}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/s/timeline">Timeline</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
