<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="assets/icons/music-note.svg" width="40" height="40" alt="icon">
        </a>
        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle" 
                    href="#" id="navbarDropdown" 
                    role="button" 
                    data-toggle="dropdown" 
                    aria-haspopup="true" 
                    aria-expanded="false">
                    Edu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/s/register">Register</a>
                    <a class="dropdown-item" href="/s/login">Login</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audio">Media</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bio">Bio</a>
            </li>
        </ul>
    </div>
</nav>