<app-navbar></app-navbar>
<div class="container">
    <h1>{{title}}</h1>
    <p class="level">{{level}}</p>
    <div class="lesson-content">
        <p>{{content}}</p>
        <div class="btns">
            <button (click)="delete()" class="btn btn-danger">Delete</button>
            <button (click)="edit()" class="btn btn-dark">Edit</button>
            <a class="btn ex" href={{exercises}} download>
                Download Exercises
            </a>
        </div>
    </div>
    <app-comments></app-comments>
</div>
