@import '../../../styles.scss';

.container { 
    width: 80%;
    background-color: $main-color;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    .comment {
        background-color: $secondary-color;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        display: grid;
        grid-template-areas: 
            "username comment btn"
            "username comment date-time";
        grid-template-columns: 1fr 4fr 1fr;
        p {font-family: $main-font;}
        strong { 
            color: $main-color;
            font-size: 17px;
        }
        .user { grid-area: username;}
        .cmnt { grid-area: comment}
        .date-time { 
            grid-area: date-time;
            text-align: end;
        }
        .btn { 
            grid-area: btn;
            width: 70%;
            align-items: flex-end;
        }
    }
    input {
        border-radius: 10px;
        border: none;
        padding: 10px;
        width: 80%
    }
    button {
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        background-color: #F2A154;
        color: #fff;
        font-weight: bold;
        font-family: $main-font;
        font-size: 18px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    }
    hr { border-color: $secondary-color}
}

@media screen and (max-width: 800px) {
    .comment { 
        grid-template-columns: 1fr 7fr;
        grid-template-areas: 
            "username comment"
            "date-time btn"!important;
        .btn {
            width: 50%;
            justify-self: flex-end;
        }
        .user { padding-right: 5px}
    }
}