<app-navbar></app-navbar>
<div class="container">
    <div class="default">
        <h1>Media</h1>
        <div class="add-video">
            <input 
                type="text" 
                name="default" 
                [(ngModel)]="defaultLink"
            >
            <button  type="submit" (click)="onSubmitDefault()">Add Video</button>
        </div>
        <hr>
        <div class="videos">
            <div class="video" *ngFor="let url of defaultVideos" >
                <iframe 
                    width="300" 
                    height="190" 
                    [src]="url.link">
                </iframe>
                <button (click)="delete(url._id)" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
    <div class="student">
        <h1>EDU Videos</h1>
        <div class="add-video">
            <input 
                type="text" 
                name="default" 
                [(ngModel)]="studentLink"
            >
            <button  type="submit" (click)="onSubmitStudent()">Add Video</button>
        </div>
        <hr>
        <div class="videos">
            <div class="video" *ngFor="let url of studentVideos" >
                <iframe 
                    width="300" 
                    height="190" 
                    [src]="url.link">
                </iframe>
                <button (click)="delete(url._id)" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>
