@import '../../../styles.scss';

.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

input {
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 70%;
    border: 1px solid $main-color
}
button {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    background-color: #F2A154;
    color: #fff;
    font-weight: bold;
    font-family: $main-font;
    font-size: 18px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
h1 { color: #fff}
.videos {
    margin: 0 auto;
    width: 80%;
    border: none;
    display: flex;
    flex-direction: column-reverse;
    max-height: 600px;
    overflow-y: auto;
}
.video {
    border-bottom: 1px solid $secondary-color;
    display: flex;
    flex-direction: row;
    .btn {
        font-weight: bold;
        border-radius: 10px;
    }
}
.student, .default {
    background-color: $main-color;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
hr {
    background-color: $secondary-color;
    width: 90%
}
.add-video {
    width: 90%;
    margin: 0 auto
}
iframe { 
    border: none;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 800px) {
    .container {
        display: block
    }
    iframe {
        margin-bottom: 2px
    }
}